Django==5.0.2
djangorestframework==3.15.1
django-cors-headers==4.3.1
channels==4.0.0
channels-redis==4.1.0
redis==5.0.1
psycopg2-binary==2.9.9
django-extensions==3.2.3
django-filter==23.5
Pillow==10.2.0
python-decouple==3.8
celery==5.3.4
django-celery-beat==2.5.0
cryptography==42.0.2
requests==2.31.0 