backend/django.log
__pycache__/
backend/api/__pycache__
bash.exe.stackdump
fastapi_backend/test_startup.py
bash.exe.stackdump
backend/cert.crt
backend/cert.key
data
Nouveau dossier (4).rar
fastapi_backend/fastapi_backend.db
fastapi_backend/fastapi.log

fastapi_backend/fastapi.log
fastapi_backend/uploads/csv/cd5d6664-e91e-4130-80f3-c9ff5c8396ab.csv
*.csv
*.xls
*.xlsx
*.sql
*.log

test_*.py
*.log
fastapi_backend/fastapi_backend.db
*.pdf